
<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Add User Resume Info</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/result.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <div class="container">
                                <form class="well form-horizontal" th:action="@{/listExpInfo}" th:object="${searchExp}" method="">
                                    <fieldset>

                                        <div class="container">
                                            <div class="bs-callout bs-callout-success">
                                                <table class="table table-striped">
                                                    <caption> <h4><b>Your Work Experience Information</b></h4></caption>
                                                    <thead>
                                                    <tr>
                                                        <th>Professional Name</th>
                                                        <th>Professional Level</th>
                                                        <th>Organization Name</th>
                                                        <th>Duty</th>
                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                        <th>Functionality</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="explist : ${searchExp}">
                                                        <td th:text="${explist.profName}"></td>
                                                        <td th:text="${explist.ProfLevel}" ></td>
                                                        <td th:text="${explist.orgName}"></td>
                                                        <td th:text="${explist.duty}"></td>
                                                        <td th:text="${explist.startDate}"></td>
                                                        <td th:text="${explist.endDate}"></td>
                                                        <td>
                                                            <a th:href="@{/updateExpInfo/{id}(id=${explist.id})}">Update</a>
                                                            <a th:href="@{/deleteExpInfo/{id}(id=${explist.id})}">Delete</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-group"align="center">
                                            <div class="col-md-4" align="center">
                                                <p><a href="addWorkExpInfo"><strong>Most Recent Work Experience Information</strong></a></p>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>